.button-main, .button-main-s {
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #0075ff;
  color: white;
  border: none;
  border: solid 1px #0075ff;
}
.button-main:hover, .button-main-s:hover {
  background-color: white;
  color: #0075ff;
}
.button-main-s {
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
}

.button-sec, .button-sec-s {
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  color: black;
  background-color: transparent;
  border: none;
}
.button-sec:hover, .button-sec-s:hover {
  color: #888;
}
.button-sec-s {
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
}

.main-menu {
  margin-bottom: 0;
}
.main-menu li {
  font-size: medium;
  list-style: none;
  display: inline;
}
.main-menu li a {
  color: black;
  text-decoration: none;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm i {
  font-size: 1.4rem;
  padding: 0.1rem 0.25rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  color: #0075ff;
}

.benefits {
  display: flex;
  flex-direction: column;
}
.benefits .icon {
  color: #0075ff;
  font-size: 6rem;
  text-align: center;
}
.benefits .description .title {
  font-size: 1.4rem;
  text-align: center;
}
.benefits .description .text {
  color: #888;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
}
.benefits .cta {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #0075ff;
  font-weight: 600;
  text-align: center;
}

.icon-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-desc .icon {
  color: #0075ff;
  font-size: 10rem;
  padding: 0;
}
.icon-desc .title {
  margin-top: -2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
}

html {
  min-width: 100vw;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #cfcfcf;
}
.nav .logo img {
  max-width: 5rem;
}

.sec-home {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  margin: auto;
  padding: 3rem;
}
.sec-home .home-cta {
  flex: 1;
}
.sec-home .home-cta .cta-text {
  color: #0075ff;
}
.sec-home .home-cta .home-title {
  width: 20rem;
  font-size: 3rem;
}
.sec-home .home-cta .home-des {
  width: 19rem;
}
.sec-home .home-cta .lead-magnet .input-col {
  max-width: 20rem;
}

.sec-features {
  width: 100%;
  max-width: 50rem;
  margin: auto;
  padding: 3rem;
}
.sec-features .intro {
  text-align: center;
}
.sec-features .intro h3 {
  font-size: 1.8rem;
}
.sec-features .intro p {
  font-size: 0.8rem;
  color: #888;
  margin-bottom: 0;
}
.sec-features .features {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sec-features .features .text {
  max-width: 50%;
  padding: 2rem 0;
}
.sec-features .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.sec-features .features .text .feature .description {
  margin-left: 1rem;
}
.sec-features .features .text .feature .description .title-feature {
  font-size: 1.15rem;
}
.sec-features .features .text .feature .description .text-feature {
  font-size: 0.95rem;
  color: #888;
}
.sec-features .features .feature-img img {
  max-width: 20rem;
}

.sec-benefits {
  border-top: 1px solid #888;
}
.sec-benefits .benefits-intro {
  text-align: center;
}
.sec-benefits .benefits-intro h3 {
  font-size: 1.8rem;
}
.sec-benefits .benefits-intro p {
  font-size: 0.8rem;
  color: #888;
}
.sec-benefits .benefits-cards {
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
}

.sec-kpis {
  width: 100%;
  background-color: #0075ff;
  color: white;
  padding: 4rem;
}
.sec-kpis .kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-kpis .kpi .number {
  font-size: 2rem;
  font-weight: 600;
}
.sec-kpis .kpi .desc {
  font-size: 0.9rem;
}

.sec-onboarding .intro {
  text-align: center;
}
.sec-onboarding .intro h3 {
  font-size: 1.8rem;
}
.sec-onboarding .intro p {
  font-size: 0.8rem;
  color: #888;
}
.sec-onboarding .setps {
  padding: 0 6rem 5rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sec-onboarding .setps .separador-steps {
  flex: 1;
}

.sec-footer-cta {
  background-color: #f4f8fe;
  background-image: url("../public/img/bg.png");
  padding: 5rem;
  background-repeat: no-repeat;
  background-position: 100%;
}
.sec-footer-cta .footer-cta {
  width: 50%;
}
.sec-footer-cta .footer-cta .cta-title {
  font-size: 1.9rem;
}
.sec-footer-cta .footer-cta .cta.text {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .sec-features .features .text {
    text-align: center;
    max-width: 100%;
  }
  .sec-onboarding .setps {
    flex-direction: column;
  }
  .sec-onboarding .setps .icon-desc .title {
    text-align: center;
  }
  .sec-footer-cta {
    background-image: none;
  }
  .sec-footer-cta .footer-cta {
    width: 100%;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
